@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-popup-content {
    border: none;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow-y: scroll;
}
.popup-content {
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(233 73 61/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23/var(--tw-bg-opacity));
}
section{
    border-bottom: 2px solid teal;
}